.about-description {
    color: #fff;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
} */

.about-me{
    color: white;
}

.s-about{
    background: url("../../assets/image/stars.svg"), #000;
    /* background-position: center; */
    background-repeat: repeat;
    /* background-size: cover; */
}

.about-description {
    background-color: #000;
}