.s-contact {
    background: url("../../assets/image/stars.svg"), #000;
    background-repeat: repeat;
    width: 100vw;
    /* height: 100vh; */
}
.black-background {
    background-color: #000;
}
.s-contact.target-section h5 {
    color: #f06000;
}

.banner {
    margin-top: 60px;
}
