.layout {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: black;
    top: 0;
}

.s-portfolio.target-section {
    background-color: #fff;
}

.huge-text{
    font-size: 3rem !important;
}

    @media (max-width: 403px) {

    .layout.s-header {
        flex-direction: column;
        align-items: center;
        align-self: start;
        height: 136px;
        transition-delay: 0.5s;
        transition: 0.5s 0.5s;
        margin-bottom: 20px;
    }

    .s-hero {
        margin-top: 20px;
    }

    .s-about {
        margin-top: 20px;
    }
}