.s-portfolio.target-section {
  background-color: #fff;
}

.huge-text {
  font-size: 3rem !important;
}

@media (max-width: 385px) { /*Cambio de 394px a 385px debido a que la nueva fuente que estamos aplicando es ligeramente más pequeña*/
  .layout.s-header {
    flex-direction: column;
    align-items: center;
    align-self: start;
    height: 136px;
    transition-delay: 0.5s;
    transition: 0.5s 0.5s;
    margin-bottom: 20px;
  }

  .s-hero {
    margin-top: 20px;
    min-height: calc(25.5 * var(--space)); /*Temporal hasta solucionar menu hamburgesa*/
  }

  .s-portfolio {
    padding-top: calc(6 * var(--space)); /*Temporal hasta solucionar menu hamburgesa*/
  }

  .s-contact {
    margin-top: 20px;
  }
}

.font-500 {
  font-weight: 500 !important;
}
